<div class="container mt-5">
    <h2>Gyümölcsök tömb</h2>
    <p>Első elem a fruits tömbben: {{Fruits[0]}}</p>
    <p>Utolsó elem a fruits tömbben: {{Fruits[Fruits.length-1]}}</p>
    <p>Véletlen elem a fruits tömbben: {{getRandomFruit()}}</p>
    <p>A gyümölcsök tömb elemei ciklussal - ngFor</p> 
    <ul>
        <li *ngFor="let fruit of Fruits"> <!--forEachhez hasonló, a fruit ciklusváltozó minden futásnál felveszi a tömb egy elem értékét -->
            {{fruit}} <!-- Interpolációval kiírjuk, 
                lehet let barmi of Fruits és {{barmi}} is - temporális változó
                elem - egyes szám, adatszerkezet - többes szám-->
        </li> 
    </ul>
    <p>A pontok elemei ciklussal - ngFor</p> 
    <ul>
        <li *ngFor="let point of Points">
            {{point}}
        </li> 
    </ul>
    

</div>
