<div class="container mt-5">
    <h2>Interface Element példa</h2>
    <!--<p>Név (publikus): {{employeeElement.name}}</p> publikus, így kis betűvel is műk.-->
    <p>Név: {{ EmployeeElement.name}}</p>
    <p>Beosztás: {{ EmployeeElement.role}}</p>
    <p>Fizetés: {{ EmployeeElement.salary}} Ft</p>
    <h2>Interface Array példa - Dolgozói adatok:</h2>
    <ul>
        <li *ngFor="let employee of Employees">
            Név: {{employee.name}}, beosztás: {{employee.role}}, fizetés: {{employee.salary}} Ft
        </li>
    </ul>
    <h2>Interface Array példa - Dolgozói adatok táblázattal:</h2>
    <small>Kötelező elemek: thead és tbody</small>
    <table class="table table-striped">
        <!--kötelező theadbe és tbodyba beletenni h jól jelenítse meg BSpel-->
        <thead> 
            <th>Név</th>
            <th>Beosztás</th>
            <th>Fizetés (Ft)</th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of Employees">
                <td>{{employee.name}}</td>
                <td>{{employee.role}}</td>
                <td>{{employee.salary}}</td>
            </tr>
        </tbody>
    </table>
    <h2>Dolgozók 600.000Ft feletti keresettel</h2>
    <ul>
        <!--cikluson belőli elágazás-->
        <span *ngFor="let employee of Employees"> <!--span azért kell mert li-n belül nem lehet egyszerre ngFort és ngIfet használni-->
            <li *ngIf="employee.salary > 600000">
                Név: {{employee.name}}, Beosztás: {{employee.role}}, Fizetés: {{employee.salary}} Ft
            </li>
        </span>
    </ul>
    <h2>Programozók listázása:</h2>
    <ul>
        <span *ngFor="let employee of Employees">
            <li *ngIf="employee.role.includes('Programmer')">
                Név: {{employee.name}}, Beosztás: {{employee.role}}, Fizetés: {{employee.salary}} Ft
            </li>
        </span>
    </ul>

    <h2>Átlagfizetés (érdemes TSben egy metódussal):</h2>
    <p>{{EmployeeAvgSalary}} Ft</p> 

    <h2>Ki(k) keres a legjobban:</h2>
    <p>Maximális fizetés ennyi volt: {{getMaxEmployeeSalary()}}Ft</p>
    <ul>
        <span *ngFor="let employee of Employees"> <!--span azért kell mert li-n belül nem lehet egyszerre ngFort és ngIfet használni-->
            <li *ngIf="employee.salary == getMaxEmployeeSalary()">
                Név: {{employee.name}}, Beosztás: {{employee.role}}, Fizetés: {{employee.salary}} Ft
            </li>
        </span>
    </ul>
</div>